<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766943688283-fdfohh7inqtcvmff7gufk4tg7crev2m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766943688283-fdfohh7inqtcvmff7gufk4tg7crev2m2</string>
	<key>API_KEY</key>
	<string>AIzaSyDfUDGKeK6_ZmFR-SMYM6fjsbzWSZkPxdA</string>
	<key>GCM_SENDER_ID</key>
	<string>766943688283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dejavuClone</string>
	<key>PROJECT_ID</key>
	<string>dejavu-65fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>dejavu-65fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766943688283:ios:7cc3d65864f5cf0c03b17e</string>
</dict>
</plist>